.img-contact {
    filter: hue-rotate(-13deg) saturate(80%);
}

main.contact {
    .rubrik {
        font-family: ghostbusters;
    }
    .formular-div{
        display: flex;
        justify-content: center;
    }
    .forms{
        border-style: none;
        background-color: $greenOliveLight;
        box-shadow: 0 5px 5px $greenOlive;
        border-spacing: 50px;
        width: 80%;
        padding: 10px;
        .form-label{
            font-family: ghostbusters;
        }
    }
    .form-control:focus {
        border-color: $greenOlive;
        box-shadow: inset 0 1px 1px $greenOlive;
    }
    select:focus {
        border-color: $greenOlive;
        box-shadow: inset 0 1px 1px $greenOlive;
    }
    .input-group {
        span {
            background-color: $greenOlive;
        }
    }
}