footer {
            
    .navbar {
        padding: 0%;

        .container-fluid {
            background-color: #809C94;
            a {
                font-size: 16px;
                font-family: $myFont;
                text-decoration: underline;               
            }
            .copyrighttext{
                font-size: 10px;    
                }
            .logo {
                font-family: ghostbusters;
                color:black;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }

} 
