header {
    background: rgb(152, 232, 152);

    a.navbar-brand {
        font-family: ghostbusters;
        font-size: 35px;
        margin: auto;
    }
    nav {
        background: $greenDark;
        color: white;
        margin: 0px;
        .navbar-collapse {
                width: 100vw;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        text-align: center;
                        background: $greenOlive;
                    }   
                    a {
                        color: aliceblue;
                    }               
                    a:hover {
                        color: aliceblue;
                        text-decoration: underline;
                    }
                }
            }
        }
        .container-fluid {
            background: $greenDark;         
            z-index: 2;
            
        }
}

