header {
   
    #headerLogo {
        height: 40px;
        margin: auto 0px;
        align-self: baseline;
        transform: translateY(-5px);
        }
    
    #headerL.spinnBurger {
        transition: 1s ease-in-out;
        display: inline-block;
        transform: rotateY(530deg);
        // transform: rotateY(500deg);
        opacity: 50%;
        }
    #headerL.burgerClosed {
        transition: 1s ease-in-out;
        display: inline-block;
        transform: rotateY(430deg);
        // transform: rotateY(500deg);
        opacity: 50%;
    //     }
    }
    a.navbar-brand {
        font-family: ghostbusters;
        font-size: 35px;
        margin: auto;
    }
    nav {
        background: $greenDark;
        color: white;
        margin: 0px;
        .navbar-collapse {
                width: 100vw;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        text-align: center;
                        background: $greenOliveLight;
                    }   
                    a {
                        color: rgb(0, 1, 2);
                        
                    }               
                    a.active {
                        color: rgb(47, 47, 47);
                        font-weight: 500;
                        text-decoration: underline;
                    }               
                    a:hover {
                        color: $greenDark;
                        text-decoration: underline;
                    }
                }
            }
        }
        .container-fluid {
            background: $greenDark;         
            z-index: 2;
            
        }
    }