main.main-index {
    .index-img-top {
        width: 100%;
        height: auto;
    }

    .index-div {
        height: auto;
        padding: 30px;
        font-size: 16px;
    }

    .index-img {
        height: auto;
        width: 80%;
        &:hover {
            opacity: 80%;
        }
    }
    .CTA-text {
        font-size: small;
        :hover {
            color: gray;
        }
    }
    .CTA-link {
        text-decoration: none;
        color: gray;
    }  
  
   
}