main {
    .index-div {
        height: auto;
        padding: 30px;
        font-size: 16px;
    }

    .index-img {
        height: auto;
        width: 80%;
    }

    .index-heading {
        font-size: 21px;
        padding: 30px;
    }
}