@media (width >= 992px) {
    header {
            #headerLogo.spinn {
                transition: 0.7s ease-in-out;
                transform: rotateY(180deg) translateY(-5px);;

            }
            nav {
                .container-fluid {
                    flex-direction: column;
                    background: $greenDark;   
                }
                
            }
        }
}
@media (width <= 359px) {
    header nav .logoDiv a {
        font-size: 18px;
        }
}