body {
    background-color: white;
}

.card-body {
    background-color: #809C94;
    border-radius: 4px;
    height: 250px;
}

.top-products {
    a {
        color: black;
    }
    a:hover {
        color: lightgray;
    }
}

.top-product {
    width: 90%;
    height: 60%;
}

#link-to-form {
    color: gray;

    :hover {
        color: lightgray;
    }
} 

.product {
    background-color: #809C94;
}