main.services {

    h1 {
        font-family: ghostbusters;
    }

    .card-body {
        background-color: $greenOliveLight;
        border-radius: 4px;
        height: auto;
    }

    .top-products {
        a {
            color: black;
            text-decoration: none;
        }
        a:hover {
            color: gray;
            opacity: 80%;
        }
    }

    .top-product {
        width: 90%;
    }

    #link-to-form {
        color: $greenDark;
        text-decoration: underline;

        :hover {
            color: lightgray;
        }
    } 

    .product {
        background-color: $greenOliveLight;
        border-color: darkgrey;
    }

    .main-product-picture {
        width: 60%;
        height: auto;
    }

    .btn-primary {
        background-color: $greenOlive;
        border: $greenDark;
        color:black;
    }
    .btn-primary:hover {
        background-color: $greenDark;
        color: white;
    }

}