main.services {

    body {
        background-color: white;
    }

    h1 {
        font-family: ghostbusters;
    }

    .card-body {
        background-color: $greenOliveLight;
        border-radius: 4px;
        height: 250px;
    }

    .top-products {
        a {
            color: black;
        }
        a:hover {
            color: lightgray;
        }
    }

    .top-product {
        width: 90%;
        height: 70%;
    }

    #link-to-form {
        color: gray;

        :hover {
            color: lightgray;
        }
    } 

    .product {
        background-color: $greenOliveLight;
        border-color: darkgrey;
    }
}