body {
    .opinion {
        background: $greenOliveLight;
    }
    form {
        button {
        background: $greenOlive;
        border: none;
        }
    }
    button:hover {
        background: $greenDark;
    }
    .bgreen {
        background: $greenOlive;
    }
    .card-header {
        background: $greenOliveLight;
    }
    .ghostGrade {
            img {
                width: 18px;
            }
            .badGrade {
                opacity: 50%;
            }
        }
    
}