@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css") layer(bootstrap);
@font-face {
  font-family: ghostbusters;
  src: url(../fonts/GHOSTBUS.TTF);
}
@layer bootstrap,sass,fredriks,annas,ingelas;
@layer sass {
  h1 {
    font-family: ghostbusters;
  }
  header #headerLogo {
    height: 40px;
    margin: auto 0px;
    align-self: baseline;
    transform: translateY(-5px);
  }
  header #headerL.spinnBurger {
    transition: 1s ease-in-out;
    display: inline-block;
    transform: rotateY(530deg);
    opacity: 50%;
  }
  header #headerL.burgerClosed {
    transition: 1s ease-in-out;
    display: inline-block;
    transform: rotateY(430deg);
    opacity: 50%;
  }
  header a.navbar-brand {
    font-family: ghostbusters;
    font-size: 35px;
    margin: auto;
  }
  header nav {
    background: hsl(161deg, 12%, 76%);
    color: white;
    margin: 0px;
    padding: 0px;
  }
  header nav .logoDiv {
    margin: auto;
  }
  header nav .navbar-collapse {
    margin: 0px 0px 0px 200px;
    width: 100vw;
  }
  header nav .navbar-collapse ul {
    background: red;
    width: 100vw;
  }
  header nav .navbar-collapse ul li {
    width: 100vw;
    text-align: center;
    background: hsl(161deg, 12%, 76%);
  }
  header nav .navbar-collapse ul a {
    color: rgb(0, 1, 2);
  }
  header nav .navbar-collapse ul a.active {
    color: rgb(47, 47, 47);
    font-weight: 500;
    border-bottom: 2px solid black;
  }
  header nav .navbar-collapse ul a:hover {
    color: hsl(163deg, 100%, 11%);
    background: hsl(161deg, 12%, 85%);
    transition: 0.3s ease-in;
    border-bottom: 2px solid black;
  }
  header .container-fluid {
    background: hsl(163deg, 100%, 11%);
    z-index: 2;
    margin: 0px;
    padding: 0px;
  }
  main.main-index h1 {
    font-family: ghostbusters;
  }
  main.main-index .index-img-top {
    width: 100%;
    height: auto;
  }
  main.main-index .index-div {
    height: auto;
    padding: 30px;
    font-size: 16px;
  }
  main.main-index .index-img {
    height: auto;
    width: 80%;
  }
  main.main-index .index-img:hover {
    opacity: 80%;
  }
  main.main-index .index-heading {
    font-size: 21px;
    padding: 30px;
  }
  main.main-index .CTA-text {
    font-size: small;
  }
  main.main-index .CTA-text :hover {
    color: gray;
  }
  main.main-index .CTA-link {
    text-decoration: none;
    color: gray;
  }
  main.main-index .btn-primary {
    background-color: hsl(161deg, 12%, 56%);
    border: hsl(163deg, 100%, 11%);
    color: black;
  }
  main.main-index .btn-primary:hover {
    background-color: hsl(163deg, 100%, 11%);
    color: white;
  }
  footer .navbar {
    padding: 0%;
  }
  footer .navbar .container-fluid {
    background-color: #809C94;
  }
  footer .navbar .container-fluid a {
    font-size: 16px;
    font-family: helvetica;
    text-decoration: underline;
  }
  footer .navbar .container-fluid .copyrighttext {
    font-size: 10px;
  }
  footer .navbar .container-fluid .logo {
    font-family: ghostbusters;
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  @media (width >= 992px) {
    header #headerLogo.spinn {
      transition: 0.7s ease-in-out;
      transform: rotateY(180deg) translateY(-5px);
    }
    header nav .container-fluid {
      flex-direction: column;
      background: hsl(163deg, 100%, 11%);
    }
  }
  body .opinion {
    background: hsl(161deg, 12%, 76%);
  }
  body form button {
    background: hsl(161deg, 12%, 56%);
    border: none;
  }
  body button:hover {
    background: hsl(163deg, 100%, 11%);
  }
  body .bgreen {
    background: hsl(161deg, 12%, 56%);
  }
  body .card-header {
    background: hsl(161deg, 12%, 76%);
  }
  body .ghostGrade img {
    width: 18px;
  }
  body .ghostGrade .badGrade {
    opacity: 50%;
  }
  main.services h1 {
    font-family: ghostbusters;
  }
  main.services .card-body {
    background-color: hsl(161deg, 12%, 76%);
    border-radius: 4px;
    height: auto;
  }
  main.services .top-products a {
    color: black;
    text-decoration: none;
  }
  main.services .top-products a:hover {
    color: gray;
    opacity: 80%;
  }
  main.services .top-product {
    width: 90%;
  }
  main.services #link-to-form {
    color: hsl(163deg, 100%, 11%);
    text-decoration: underline;
  }
  main.services #link-to-form :hover {
    color: lightgray;
  }
  main.services .product {
    background-color: hsl(161deg, 12%, 76%);
    border-color: darkgrey;
  }
  main.services .main-product-picture {
    width: 60%;
    height: auto;
  }
  main.services .btn-primary {
    background-color: hsl(161deg, 12%, 56%);
    border: hsl(163deg, 100%, 11%);
    color: black;
  }
  main.services .btn-primary:hover {
    background-color: hsl(163deg, 100%, 11%);
    color: white;
  }
  main.contact div {
    font-family: Helvetica, sans-serif;
  }
  main.contact h1 {
    font-family: ghostbusters;
  }
  main.contact .rubrik {
    font-family: ghostbusters;
  }
  main.contact .forms {
    border-style: none;
    background-color: hsl(161deg, 12%, 76%);
    box-shadow: 0 5px 5px hsl(161deg, 12%, 56%);
    border-spacing: 50px;
    padding: 10px;
  }
  main.contact .form-control:focus {
    border-color: hsl(161deg, 12%, 56%);
    box-shadow: inset 0 1px 1px hsl(161deg, 12%, 56%);
  }
  main.contact select:focus {
    border-color: hsl(161deg, 12%, 56%);
    box-shadow: inset 0 1px 1px hsl(161deg, 12%, 56%);
  }
  main.contact .input-group span {
    background-color: hsl(161deg, 12%, 56%);
  }
  main.contact textarea {
    height: 100px;
  }
  main.contact .btn-primary {
    background-color: hsl(161deg, 12%, 56%);
    border: hsl(163deg, 100%, 11%);
    color: black;
  }
  main.main-about-us h1 {
    font-family: ghostbusters;
  }
  main.main-about-us img {
    width: 70%;
  }
  main.main-about-us .all-employees {
    gap: 20px;
  }
  aside.history-aside {
    background-color: hsl(161deg, 12%, 76%);
  }
  * {
    font-size: 18px;
  }
  * h1 {
    font-size: 23px;
  }
}
@layer fredriks {}
@layer annas {}
@layer ingelas {}/*# sourceMappingURL=style.css.map */